<div class="container-fluid" style="margin-top:30px">

    <div class="row">
        <div class="col-sm-6">
            <div class="box h-80 d-flex justify-content-center flex-column">
                <img class="img-responsive mx-auto d-block" src="./assets/images/logo.jpg" />
            </div>
            <p class="text-warning">Direccion:</p>
            <p>Avenida Beiging esq. Dorbigni, acera sud-este - Cochabamba</p>
            <p class="text-warning">Horarios de voluntariado:</p>
            <p>Lunes a Viernes de 14:00 pm a 18:00 pm</p>
            <p class="text-warning">Horarios de Atencion Veterinaria:</p>
            <p>Lunes a Viernes de 14:00 pm a 18:00 pm</p>
            <p>Dr. Richard - 76945968</p>
        </div>
        <form (ngSubmit)="onSubmit()" class="col-sm-6">

            <h2>Contáctanos</h2>
            <div class="form-group">
                <label for="exampleFormControlInput1">Nombre</label>
                <input [(ngModel)]="email.nombre" type="email" class="form-control" id="nombre" name="nombre" placeholder="name">
            </div>
            <div class="form-group">
                <label for="correo">Email address</label>
                <input [(ngModel)]="email.correo" type="email" class="form-control" id="correo" name="correo" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Celular</label>
                <input [(ngModel)]="email.telefono" type="email" class="form-control" id="telefono" name="telefono" placeholder="70700000">
            </div>
            <div class="form-group">
                <label for="asunto">Mensaje</label>
                <textarea [(ngModel)]="email.asunto" class="form-control" id="asunto" name="asunto" rows="3" placeholder="Escriba aqui..."></textarea>
            </div>
            <div class="col align-self-end">
                <input type="submit" class="btn btn-warning" value="Enviar" />
            </div>
        </form>
    </div>

</div>
<br>