<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <div class="box h-80 d-flex justify-content-center flex-column">
                <img class="img-responsive" src="./assets/images/logo.jpg" />
            </div>
            <p class="text-warning">Direccion:</p>
            <p>Avenida Beiging esq. Dorbigni, acera sud-este - Cochabamba</p>
            <p class="text-warning">Horarios de voluntariado:</p>
            <p>Lunes a Viernes de 14:00 pm a 18:00 pm</p>
            <p class="text-warning">Horarios de Atencion Veterinaria:</p>
            <p>Lunes a Viernes de 14:00 pm a 18:00 pm</p>
        </div>
        <form class="col-sm-6">

            <h2>Contactanos</h2>
            <div class="form-group">
                <label for="exampleFormControlInput1">Nombre</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Celular</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="70700000">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Mensaje</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escriba aqui..."></textarea>
            </div>
            <div class="col align-self-end">
                <input type="submit" class="btn btn-warning" value="Enviar" />
            </div>
        </form>
    </div>

</div>