<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <h2>Registro de Adopcion</h2>
        </div>
        <div class="col-sm">
            <img class="logo" src="./assets/images/logo.jpg" />
        </div>
    </div>
    <form (ngSubmit)="onSubmitCreate()">
        <div class="row">
            <div class="col-sm-4 border">
                <span>Imagen</span>
                <form>
                    <div class="form-group">
                        <label for="Imagen">Subir imagen</label>
                        <input type="file" class="form-control-file" id="Imagen">
                    </div>
                </form>
            </div>
            <div class="col-sm-3 border">
                <h3>Descripcion</h3>
                <div class="form-group mb-3">
                    <label for="1">Tamaño</label>
                    <select class="custom-select" id="1" name="Tamanio" [(ngModel)]="adoptado.tamagno">
                          <option selected>Tamaño</option>
                          <option value="Pequenio">Pequenio</option>
                          <option value="Mediano">Mediano</option>
                          <option value="Grande">Grande</option>
                        </select>
                </div>
                <div class="form-group mb-3">
                    <label for="2">Edad</label>
                    <select class="custom-select" id="2" name="Edad" [(ngModel)]="adoptado.edad">
                          <option selected>Edad</option>
                          <option value="Cachorro">Cachorro</option>
                          <option value="Joven">Joven</option>
                          <option value="Adulto">Adulto</option>
                        </select>
                </div>
                <div class="form-group mb-3">
                    <label for="3">Género</label>
                    <select class="custom-select" id="3" name="Genero" [(ngModel)]="adoptado.genero">
                          <option selected>Genero</option>
                          <option value="Hembra">Hembra</option>
                          <option value="Macho">Macho</option>
                        </select>
                </div>
                <div class="form-group mb-3">
                    <label for="4">Esterilizacion</label>
                    <select class="custom-select" id="4" name="Esterelizacion" [(ngModel)]="adoptado.esteriliacion">
                          <option selected>Esterelizacion</option>
                          <option [value]="1">Si</option>
                          <option [value]="0">No</option>
                        </select>
                </div>
            </div>
            <div class="col-sm-4 border">
                <h3>Descripcion</h3>
                <textarea type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Escriba aqui" height="20px" [(ngModel)]="adoptado.descripcion"></textarea>
                <label for="telefono">Telefono</label>
                <br>
                <input type="text" class="form-control" name="telefono" id="telefono" placeholder="Telefono de contacto" [(ngModel)]="adoptado.telefono">
            </div>
            <div class="col-sm-1">

            </div>
        </div>
        <div class="row">
            <div class="col align-self-end">
                <input type="submit" class="btn btn-warning" value="Confirmar" />
            </div>
        </div>
    </form>
</div>