img.logo {
    max-width: 80px;
    margin-left: 650px;
}

img.perfil {
    max-width: 500px;
}

.columnas {
    margin-left: 10px;
}

div.toRight {
    margin: 10px;
}

button {
    margin: 10px;
}

img.profile {
    max-width: 350px;
    padding: 10px;
}

.limit {
    max-width: 450px;
    max-height: 300px;
}

textarea {
    height: 220px;
}