<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-md-4 ">
            <h2>Registro de Adopción</h2>
            <hr>
        </div>
        <div class="cols-lg-8">
            <img class="logo" src="./assets/images/logo.jpg" />
        </div>

    </div>
    <form class="border" (ngSubmit)="onSubmitCreate()">
        <div class="row">
            <div class="col-sm-4 border" style="margin: 10px; left: 10px;">
                <form>
                    <div class="form-group">
                        <div *ngIf="adoptado.id; else photo">
                            <div class="row" class="limit">
                                <img src="./assets/images/{{adoptado.id}}.jpg" class="profile" alt="">
                            </div>
                        </div>
                        <ng-template #photo>
                            <img [src]="imgURL" class="profile" alt="">
                        </ng-template>
                        <label for="Imagen">Añadir imagen</label>
                        <input #Image type="file" class="form-control-file" accept="image/*" id="Imagen" (change)="handleFileInput($event.target.files)">
                    </div>
                </form>
            </div>
            <div class="col-sm-3">
                <h3>Caracteristicas</h3>
                <div class="form-group mb-3">
                    <label for="1">Tamaño</label>
                    <select class="custom-select" id="1" name="Tamanio" [(ngModel)]="adoptado.tamagno">
                          <option selected>Tamaño</option>
                          <option value="Pequeño">Pequeño</option>
                          <option value="Mediano">Mediano</option>
                          <option value="Grande">Grande</option>
                        </select>
                </div>
                <div class="form-group mb-3">
                    <label for="2">Edad</label>
                    <select class="custom-select" id="2" name="Edad" [(ngModel)]="adoptado.edad">
                          <option selected>Edad</option>
                          <option value="Cachorro">Cachorro</option>
                          <option value="Joven">Joven</option>
                          <option value="Adulto">Adulto</option>
                        </select>
                </div>
                <div class="form-group mb-3">
                    <label for="3">Género</label>
                    <select class="custom-select" id="3" name="Genero" [(ngModel)]="adoptado.genero">
                          <option selected>Género</option>
                          <option value="Hembra">Hembra</option>
                          <option value="Macho">Macho</option>
                        </select>
                </div>
                <div class="form-group mb-3">
                    <label for="4">Esterilización</label>
                    <select class="custom-select" id="4" name="Esterelizacion" [(ngModel)]="adoptado.esterilizacion">
                          <option selected>Esterelización</option>
                          <option [value]="true">Si</option>
                          <option [value]="false">No</option>
                        </select>
                </div>
            </div>
            <div class="col-sm-4 ">
                <h3>Descripción</h3>
                <textarea type="text" class="form-control" name="description" id="descripcion" placeholder="Escriba aqui" height="20px" [(ngModel)]="adoptado.description"></textarea>
                <h3>Contacto</h3>
                <label for="telefono">Teléfono</label>
                <br>
                <input type="text" class="form-control" name="telefono" id="telefono" placeholder="Telefono de contacto" [(ngModel)]="adoptado.telefono">
            </div>
            <div class="col-sm-1">

            </div>
        </div>
        <div class="row" class="toRight">
            <div class="col align-self-center">
                <input type="submit" class="btn btn-warning" value="Confirmar" />
                <button type="button" class="btn btn-secondary" (click)="goBack()">Cancelar</button>
            </div>
        </div>
    </form>
</div>
<br>
<br>