<div class="container">
    <div id="agradecimientos-title">
        <h3>
            Registro de agradecimiento
            <img class="logo" src="./assets/images/logo.jpg" />
        </h3>

        <hr>
    </div>
    <!--End of adotados tittle-->
    <form [formGroup]="form" class="row" (ngSubmit)="submitForm()" method="post" accept-charset="UTF-8" enctype="multipart/form-data">

        <div class="col-md-6 col-lg-5 border">
            <img [src]="imgURL" class="profile" alt="">
            <div class="form-group">
                <input #Image type="file" class="form-control-file" accept="image/*" (change)="uploadImage($event)">
            </div>
        </div>
        <div class="col-md-6 col-lg-7">

            <h3>Historia</h3>
            <textarea type="text" class="form-control historia" name="description" id="descripcion" placeholder="Escriba aqui" height="20px" formControlName="description"></textarea>
        </div>

        <div id="buttons" class="d-flex justify-content-center col-sm-12 col-md-4 col-lg-3">
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#confirmar" value="Confirmar">Aceptar</button>
            <button type="button" class="btn btn-secondary " (click)="goBack()">Cancelar</button>
        </div>

        <!-- MODAL -->
        <div class="modal fade" id="confirmar" tabindex="-1" role="dialog" aria-labelledby="role-select-modal" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Aceptar</h4>
                        <button #btnClose type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                    </div>
                    <div class="modal-body">
                        <p><strong>¿Desea guardar los cambios realizados?</strong></p>
                        <p>
                            <span>(Puede editar esta información mas tarde)</span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </div>
                </div>
            </div>

            <div class="loading" *ngIf="loading">
                <img class="logo" src="./assets/images/loading2.gif">
            </div>
        </div>
    </form>

</div>
<br>