<div *ngIf="extraviado" class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-md-12">
            <h2> Busco a mi familia</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 align-content-center">
            <img class="img-responsive" class="rounded" src="./assets/images/{{extraviado.id}}.jpg" />
        </div>
        <div class="col-md-6 align-content-center border">
            <p>Tamaño: {{extraviado.size}}</p>
            <p>Edad: {{extraviado.age}}</p>
            <p>Género: {{extraviado.gender}}</p>
            <p>Contacto: {{extraviado.contact}}</p>
            <p>Descripción: {{extraviado.description}}</p>
            <button type="button" class="btn btn-primary" (click)="edit(extraviado.id)">Editar</button>
            <button type="button" class="btn btn-danger" (click)="delete(extraviado.id)">Borrar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 align-self-center">
            <button type="button" class="btn btn-warning" (click)="goBack()">volver</button>
        </div>
    </div>
</div>