<div class="container">
    <div id="adoptados-title">
        <h3>
            Registro de Adopción
            <img class="logo" src="./assets/images/logo.jpg" />
        </h3>

        <hr>
    </div>
    <!--End of adotados tittle-->
    <form [formGroup]="form" class="row" (ngSubmit)="submitForm()" method="post" accept-charset="UTF-8" enctype="multipart/form-data">

        <div class="col-md-6 col-lg-4 border">
            <img [src]="imgURL" class="profile" alt="">
            <div class="form-group">
                <input #Image type="file" class="form-control-file" accept="image/*" (change)="uploadImage($event)">
            </div>
        </div>
        <div class="col-md-6 col-lg-8">
            <h3>Nombre</h3>
            <input type="text" class="form-control historia" name="nombre" id="nombre" placeholder="Nombre" formControlName="name">
            <h3>Historia</h3>
            <textarea type="text" class="form-control historia" name="description" id="descripcion" placeholder="Escriba aqui" height="20px" formControlName="description"></textarea>
        </div>
        <!-- <div class="col-md-12 col-lg-4">
            <h3>Historia</h3>
            <textarea type="text" class="form-control" name="description" id="descripcion" placeholder="Escriba aqui" height="20px" formControlName="description"></textarea>
            <h3>Contacto</h3>
            <label for="telefono">Teléfono</label>
            <br>
            <input type="text" class="form-control" name="telefono" id="telefono" placeholder="Telefono de contacto" formControlName="telefono">
        </div> -->
        <div class="d-flex justify-content-center" style="margin-top: 15px;">
            <button type="submit" class="btn btn-warning" value="Confirmar">Confirmar</button>
            <button type="button" class="btn btn-secondary " (click)="goBack()">Cancelar</button>
        </div>
    </form>

</div>
<br>
<br>