<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="card-footer">
    <div class="container">
        <div class="row">
            <section id="hours" class="col-md-4">
                <span>Horarios de atención:</span><br> Lunes a Domingo: 9:00am - 18:00pm<br>
                <p>*Veterinaria: Lunes a viernes de 14:00pm a 18:00pm</p>
                <hr class="d-sm-block d-md-none">
            </section>
            <section id="address" class="col-md-4">
                <span>Dirección:</span><br> Avenida Beiging esq. Dorbigni, acera sud-este<br> Cochabamba
                <hr class="d-sm-block d-md-none">
            </section>
            <section id="links" class="col-md-4">
                <a href="https://www.facebook.com/FUNDACIONNARICESFRIAS/" target="_blank" class="fa fa-facebook"></a>
                <a href="https://twitter.com/?lang=es" target="_blank" class="fa fa-twitter"></a>
            </section>
        </div>
    </div>
</footer>


<!-- <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark navbar-custom p-0">
    <br>
</nav> -->

<!-- <div class="row fixed-row-bottom"><br></div> -->