&nbsp;
<div class="container">

    <div class="row">
        <div class="col-md-4 border">
            <h2>{{mascota1.name}}</h2>
            <p>Tamaño: {{mascota1.size}}</p>
            <p>Edad: {{mascota1.age}}</p>
            <p>Contacto: {{mascota1.contacto}}</p>
        </div>
        <div class="col-md-4 border">
            <h2>{{mascota2.name}}</h2>
            <p>Tamaño: {{mascota2.size}}</p>
            <p>Edad: {{mascota2.age}}</p>
            <p>Contacto: {{mascota2.contacto}}</p>
        </div>
        <div class="col-md-4 border">
            <h2>{{mascota3.name}}</h2>
            <p>Tamaño: {{mascota3.size}}</p>
            <p>Edad: {{mascota3.age}}</p>
            <p>Contacto: {{mascota3.contacto}}</p>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-md-4 border">
            <h2>{{mascota4.name}}</h2>
            <p>Tamaño: {{mascota4.size}}</p>
            <p>Edad: {{mascota4.age}}</p>
            <p>Contacto: {{mascota4.contacto}}</p>
        </div>
        <div class="col-md-4 border">
            <h2>{{mascota5.name}}</h2>
            <p>Tamaño: {{mascota5.size}}</p>
            <p>Edad: {{mascota5.age}}</p>
            <p>Contacto: {{mascota5.contacto}}</p>
        </div>
        <div class="col-md-4 border">
            <h2>{{mascota6.name}}</h2>
            <p>Tamaño: {{mascota6.size}}</p>
            <p>Edad: {{mascota6.age}}</p>
            <p>Contacto: {{mascota6.contacto}}</p>
        </div>
    </div>
</div>