<div *ngIf="evento" class="container">

    <div id="adoptados-title">
        <h2 style="text-align:center;">{{evento.titulo | uppercase}}</h2>
        <hr>
    </div>

    <div class="datos">
      <img class="icon" src="../../assets/images/place.png" alt="edit icon">
      <!-- <b>Lugar: </b> -->
      <span> {{evento.lugar}} </span>

      <img class="icon" src="../../assets/images/time.png" alt="edit icon">
      <!-- {{evento.fecha | date:'fullDate':'UTC':'es' }} a las {{evento.hora | date:'shortTime':'UTC'}} -->
      <!-- {{evento.fecha | date:'EEEE, MMMM d, y':'UTC':'es' | titlecase}} a las {{evento.hora | date:'shortTime':'UTC'}} -->
      {{evento.fecha | date:'EEEE':'UTC':'es'| titlecase}} {{evento.fecha | date:'longDate':'UTC':'es' }} a las {{evento.hora | date:'shortTime':'UTC'}}
    </div>
      
    <div class="datos">
        <div id="etiqueta">Detalles: </div>
        {{evento.descripcion}}
    </div>
    
</div>

<!-- <button type="button" class="btn btn-light" (click)="mostrar()">
    mostrar
</button> -->