<div *ngIf="evento;  else photo" class="container">

    <div id="adoptados-title">
        <h2 style="text-align:center;">{{evento.titulo | uppercase}}</h2>
        <hr>
    </div>

    <div class="datos">
        <img class="icon" src="../../assets/images/time.png" alt="edit icon">
        <!-- {{evento.fecha | date:'fullDate':'UTC':'es' }} a las {{evento.hora | date:'shortTime':'UTC'}} -->
        <!-- {{evento.fecha | date:'EEEE, MMMM d, y':'UTC':'es' | titlecase}} a las {{evento.hora | date:'shortTime':'UTC'}} -->
        {{evento.fecha | date:'EEEE':'UTC':'es'| titlecase}} {{evento.fecha | date:'longDate':'UTC':'es' }} a las {{evento.hora | date:'shortTime':'UTC'}}
        <br>
        <img class="icon" src="../../assets/images/place.png" alt="edit icon">
        <!-- <b>Lugar: </b> -->
        <span> {{evento.lugar}} </span>
    </div>
    <img class="img-fluid center" src="http://localhost:3000/calendarios/{{evento.id}}/download" />
    <div class="datos">
        <div id="etiqueta">Detalles: </div>
        {{evento.descripcion}}
    </div>

    <div>

        <!-- <div *ngIf="tokenService.userSignedIn()">
            <button type="button" class="btn btn-light" (click)="edit(adoptado.id)">
                <img class="icon" src="../../assets/images/edit.png" alt="edit icon"> Editar
            </button>
            <button type="button" class="btn btn-light" (click)="delete(adoptado.id)">
                <img class="icon" src="../../assets/images/delete.png" alt="delete icon"> Eliminar
            </button>
        </div> -->
    </div>

</div>
<ng-template #photo>
    <img src="../../assets/images/logo.jpg" class="profile" alt="">
</ng-template>

<!-- <button type="button" class="btn btn-light" (click)="mostrar()">
    mostrar
</button> -->