.container {
    margin-top: 10px;
}

#eventos-title {
    position: relative;
    margin-bottom: 30px;
}

#eventos-title h2 {
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
}

img.logo {
    position: absolute;
    max-width: 80px;
    right: 0;
}

img.perfil {
    max-width: 500px;
}

.columnas {
    margin-left: 10px;
}

button {
    margin: 1px;
}

img.profile {
    padding: 10px;
    max-width: 100%;
}

.limit {
    max-width: 300px;
}

textarea {
    /* height: 220px; */
}

.form-group {
    max-width: 80%;
    margin: auto;
}

form h3 {
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
}

@media (max-width: 569px) {
    #adoptados-title img {
        max-width: 60px;
    }
    #adoptados-title h3 {
        font-size: 7vw;
    }
}

.etiqueta{
    font-weight: bold;
    font-size: 20px;
}

.loading{
    position: absolute;
    top: 48%;
    right: 48%;
}