<div *ngIf="adoptado">
  <div class="row">
      <div class="col-md-6 border">
          <p>Tamaño: {{adoptado.tamagno}}</p>
          <p>Edad: {{adoptado.edad}}</p>
          <p>Genero: {{adoptado.genero}}</p>
          <p>Contacto: {{adoptado.telefono}}</p>
          <p>Esterilizacion: {{adoptado.esteriliacion}}</p>
      </div>
      <button type="button" class="btn btn-danger" *ngIf="tokenService.userSignedIn()" (click)= "delete(adoptado.id)">Borrar</button>
      <button type="button" class="btn btn-primary" *ngIf="tokenService.userSignedIn()" (click)="edit(adoptado.id)">Editar</button>
      <img class="col-md-6 border" class="img-responsive" src="./assets/images/3.jpg" />
  </div>
</div>
