<div *ngIf="adoptado" class="container" style="margin-top:30px">

    <div class="row">
        <div class="col-md-6">
            <img class="col-md-6 border" class="img-responsive" src="./assets/images/{{adoptado.id}}.jpg" />
        </div>
        <div class="col-md-6 border">
            <p>Tamaño: {{adoptado.tamagno}}</p>
            <p>Edad: {{adoptado.edad}}</p>
            <p>Género: {{adoptado.genero}}</p>
            <p>Contacto: {{adoptado.telefono}}</p>
            <p>Esterilización: {{adoptado.esterilizacion ? 'Si' : 'No'}}</p>
            <p>Descripción: {{adoptado.description}}</p>
            <button type="button" class="btn btn-primary" *ngIf="tokenService.userSignedIn()" (click)="edit(adoptado.id)">Editar</button>

            <button type="button" class="btn btn-danger" *ngIf="tokenService.userSignedIn()" (click)="delete(adoptado.id)">Borrar</button>
        </div>


    </div>
</div>