<body>
    <div *ngIf="adoptado" class="container">
        <div id="adoptados-title">
            <h3>
                Mascotas en adopción
                <button id="register-button" type="button" class="btn btn-warning" (click)="goBack()"> <img class="icon" src="../../assets/images/back.png" alt="delete icon"> Volver</button>
            </h3>
            <hr>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid center" src="http://localhost:3000/adoptados/{{adoptado.id}}/download" />
                <div *ngIf="tokenService.userSignedIn()">
                    <button type="button" class="btn btn-light" (click)="edit(adoptado.id)">
                        <img class="icon" src="../../assets/images/edit.png" alt="edit icon"> Editar
                    </button>
                    <button type="button" class="btn btn-light" (click)="open(content)">
                        <img class="icon" src="../../assets/images/delete.png" alt="delete icon"> Eliminar
                    </button>
                </div>

            </div>
            <div class="col-md-6">
                <h6>HISTORIA</h6>
                <hr>
                <p class="style">{{adoptado.description}}</p>
                <h6>CARACTERÍSTICAS</h6>
                <hr>
                <ul>
                    <li> <span class="feature">TAMAÑO:</span> {{adoptado.tamagno}}</li>
                    <li><span class="feature">EDAD:</span> {{adoptado.edad}}</li>
                    <li><span class="feature">GÉNERO:</span> {{adoptado.genero}}</li>
                    <li><span class="feature">ESTERILIZACIÓN:</span> {{adoptado.esterilizacion ? 'Si' : 'No'}}</li>
                </ul>

                <h6>CONTACTO</h6>
                <hr>
                <p>Si desea adoptarlo puede contactar al número: {{adoptado.telefono}}</p>
            </div>
        </div>
        <br>
        <br>
    </div>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Eliminar</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
        </div>
        <div class="modal-body">
            <p><strong>¿Esta seguro que desea eliminar el perfil de la mascota?</strong></p>
            <p>Toda la informacion asociada con este perfil sera borrada permanentemente.
                <span>(Esta operacion no puede ser revertida)</span>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
            <button type="button" class="btn btn-danger" (click)="modal.close(adoptado.id)">Eliminar</button>
        </div>
    </ng-template>

</body>