<body>
    <div *ngIf="buscado" class="container">
        <div id="adoptados-title">
            <h3>
                Mascota Extraviada
                <button id="register-button" type="button" class="btn btn-warning" (click)="goBack()"> <img class="icon" src="../../assets/images/back.png" alt="delete icon"> Volver</button>
            </h3>
            <hr>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>{{buscado.name}}</h2>
                <img class="img-fluid center" src="./assets/images/{{buscado.id}}.jpg" />
                <div *ngIf="tokenService.userSignedIn()">
                    <button type="button" class="btn btn-light" (click)="edit(buscado.id)">
                            <img class="icon" src="../../assets/images/edit.png" alt="edit icon"> Editar
                        </button>
                    <button type="button" class="btn btn-light" (click)="delete(buscado.id)">
                            <img class="icon" src="../../assets/images/delete.png" alt="delete icon"> Eliminar
                        </button>
                </div>

                <p class="style">{{buscado.description}}</p>
            </div>
            <div class="col-md-6">
                <h6>CARACTERISTICAS</h6>
                <hr>
                <ul>
                    <li> <span class="feature">TAMAÑO:</span> {{buscado.size}}</li>
                    <li><span class="feature">EDAD:</span> {{buscado.age}}</li>
                    <li><span class="feature">GENERO:</span> {{buscado.gender}}</li>
                </ul>

                <h6>CONTACTO</h6>
                <hr>
                <p>Si lo a visto o conoce su paradero por favor contactarse al número: {{buscado.contact}}</p>
            </div>
        </div>

        <br>
        <br>
    </div>
</body>