<body>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Editar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="changeInfo()">
                        <div class="form-group">
                            <div class="col-xs-8">

                                <label for="name">Nombre:</label>
                                <br/>

                                <input type="text" class="form-control" name="name" id="name" [(ngModel)]="updateInfo.name">
                                <br/>

                                <label for="telefono">Telefono:</label>
                                <br/>

                                <input type="text" class="form-control" name="telefono" id="telefono" [(ngModel)]="updateInfo.telefono" name="telefono">
                                <br/>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Ingresar" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="adoptados-title">
            <h3>
                Informacion personal
                <button id="register-button" type="button" class="btn btn-warning" (click)="goBack()"> <img class="icon" src="../../assets/images/back.png" alt="delete icon"> Volver</button>
            </h3>
            <hr>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid center" src="https://i.gifer.com/4tyo.gif" />

            </div>
            <div id="info" class="col-md-6">
                <h4>Nombre</h4>
                <hr>
                <p class="style">{{tokenService.currentUserData.name}}</p>
                <h4>Correo</h4>
                <hr>
                <p class="style">{{tokenService.currentUserData.email}}</p>
                <h4>Telefono</h4>
                <hr>
                <p class="style">{{tokenService.currentUserData.telefono}}</p>
                <button class="btn btn-primary" (click)="toggle()">Editar</button>
            </div>
        </div>
        <br>
        <br>
    </div>


</body>