<div class="container">
    <div id="apadrinamiento-title">
        <h3>
            Apadrinamientos
            <button id="register-button" type="button" class="btn btn-warning" *ngIf="tokenService.userSignedIn()" [routerLink]="['/crearApadrinamiento']">Registrar</button>
        </h3>
        <hr>
        <p> Te presentamos a nuestros perritos especiales! Cada uno de ellos tiene una historia diferente que contar. Si deseas ayudar a alguno de ellos no dudes en contactarnos!</p>
    </div>
    <!--End of apadrinamiento tittle-->

    <div class="row">
        <div class=" col-sm-12 col-md-12 col-lg-12 " *ngFor="let apadrinamiento of apadrinamientos" (click)="onSelect(apadrinamiento)">
            <div class="row img-thumbnail">
                <div id="image" class="col-lg-6 mx-auto ">
                    <!-- <img class="border" class="img-fluid mx-auto d-block" src="{{imgURL}}" alt="profile-picture"> -->
                    <img class="border" class="img-fluid center rounded" src="http://localhost:3000/apadrinados/{{apadrinamiento.id}}/download" />
                    <div *ngIf="tokenService.userSignedIn()">
                        <button type="button" class="btn btn-light" (click)="edit(apadrinamiento.id)">
                            <img class="icon" src="../../assets/images/edit.png" alt="edit icon"> Editar
                        </button>
                        <button type="button" class="btn btn-light" (click)="open(content)">
                            <img class="icon" src="../../assets/images/delete.png" alt="delete icon"> Eliminar
                        </button>
                    </div>
                </div>
                <div id="historia" class="col-lg-6 rounded">
                    <h4 class="text-center descripcion">{{apadrinamiento.name}}</h4>
                    <p class="style">{{apadrinamiento.description}}</p>
                </div>
            </div>

        </div>
    </div>
    <hr>
    <!--End of images-->
    &nbsp;

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Eliminar</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
        </div>
        <div class="modal-body">
            <p><strong>¿Esta seguro que desea eliminar el perfil de la mascota?</strong></p>
            <p>Toda la informacion asociada con este perfil sera borrada permanentemente.
                <span>(Esta operacion no puede ser revertida)</span>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="modal.close(apadrinamiento.id)">Eliminar</button>
        </div>
    </ng-template>
</div>