<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Cambio de password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h3>Se requiere un cambio de contraseña para la primera sesion</h3>
                <form (ngSubmit)="changePassword()">
                        <div class="form-group">
                            <div class="col-xs-8">
                                
                                <label for="current">Contraseña:</label>
                                <br/>
                      
                                <input type="password"  class="form-control" name="current" id="current" required
                                    [(ngModel)]="updatePass.current" name="current">
                                <br/>
    
                                <label for="password">Nuevo contraseña:</label>
                                <br/>
                      
                                <input type="password"  class="form-control" name="new" id="new" required
                                    [(ngModel)]="updatePass.new" name="new">
                                <br/>
                                
                                <label for="password">Confirmar contraseña:</label>
                                <br/>
                      
                                <input type="password"  class="form-control" name="newConf" id="newConf" required
                                    [(ngModel)]="updatePass.newConf" name="newConf">
                                <br/>   
                                
                      
                    
                      
                            </div>
                    
                        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Ingresar" />
        </div>
    </form>
      </div>
    </div>
  </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-lg-6 align-self-center">
            <img class="img-fluid" src="./assets/images/logo.jpg" />
        </div>
        <div class="col-lg-6 my-auto align-middle">
            <div class="box h-100 d-flex justify-content-center flex-column">
                <img class="img-fluid" src="./assets/images/portada.jpg" />
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="sub-title">
                <h2 class="text-center">¿Quienes somos?</h2>
                <p class="text-justify">Narices Frias es una organizacion sin fines de lucro Comprometidos con la promoción y concientización sobre el respeto y trato digno a los animales, en cumplimiento con las disposiciones legales vigentes.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="sub-title">
                <h2 class="text-center">Nuestra Mision</h2>
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ad alias dolorum illum animi, nobis harum optio tenetur corrupti, laudantium pariatur. Natus eum debitis placeat impedit ducimus quibusdam cumque temporibus.</p>
            </div>
        </div>
        <div id="requerimientos" class="col-lg-6 col-md-6 col-sm-12">
            <h2>Requisitos de adopcion</h2>
            <ul>
                <li>Fotocopia de carnet</li>
                <li>Factura de Luz</li>
                <li>Formulario de adopcion llenado</li>
                <li>compromiso de revisión</li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img class="img-fluid" src="./assets/images/foto.jpg" />
        </div>
    </div>


</div>

<!-- <div class="container-fluid">

        <div class="row custom-row">
            <div class="col align-self-center">
                <div class="row justify-content-center">
                    <div class="col-8 my-auto">
                        <div>
                            <h1>¿Quienes Somos?</h1>
                            <br>
                            <div>
                                <span>Narices Frias es una organizacion sin fines de lucro Comprometidos con la promoción y concientización sobre el respeto y trato digno a los animales, en cumplimiento con las disposiciones legales vigentes.</span>
                            </div>
                            <button type="button" class="btn btn-primary" *ngIf="tokenService.userSignedIn() && tokenService.currentUserType == 'ADMIN'">Editar</button>
                            <br>
                            <h1>Requisitos de adopcion</h1>
                            <br>
                            <ul>
                                <li>Fotocopia de carnet</li>
                                <li>Factura de Luz</li>
                                <li>Formulario de adopcion llenado</li>
                                <li>compromiso de revisión</li>
                            </ul>
                            <button type="button" class="btn btn-primary" *ngIf="tokenService.userSignedIn() && tokenService.currentUserType == 'ADMIN'">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm my-auto align-middle">
                <div class="box h-100 d-flex justify-content-center flex-column">
                    <img class="img-responsive" src="./assets/images/logo.jpg" />
                </div>
            </div>
        </div>

    </div> -->