<!-- <p>Date = {{ fecha | date }}</p>
<p>Mes = {{mes}}</p> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm align-center">
      <ul class="heroes">
        <h2 style="text-align:center;">Octubre</h2>
        <hr style="height:0pt; visibility:hidden;" />

        <li *ngFor="let evento of eventos" [class.selected]="evento === selectedEvento" (click)="onSelect(evento) ">
            <span class="badge">{{evento.fecha}}</span> {{evento.titulo}}
            <button class="delete" (click)="delete(evento['id'])">x</button>
        </li>

      </ul>
    </div>
    <div class="col-sm heroes">
        <app-evento-detail [evento]="selectedEvento"></app-evento-detail>
    </div>
</div>
</div>