<!-- <p>Date = {{ fecha | date }}</p>
<p>Anio = {{year}}</p>
<p>Dia = {{day}}</p>
<p>Mes = {{mes}}</p> -->

<div class="container">
    <div id="eventos-title">
        <h3>
            Eventos
            <button id="register-button" type="button" class="btn btn-warning" value="Confirmar" *ngIf="tokenService.userSignedIn()" [routerLink]="['/crearEvento']">Registrar</button>
            <!-- <img class="logo" src="./assets/images/logo.jpg" /> -->
        </h3>

        <hr>
    </div>
    <div class="row">
        <!-- <div class="col-sm align-center"> -->
        <div class="col-md-12 col-lg-6">
            <label for="sel">Seleccione el mes</label><br>
            <!-- <button type="button" class="btn btn-warning" value="Confirmar" routerLink="/crearEvento/">Registrar</button> -->
            <select class="custom-select" id="sel" name="mesSelect" [(ngModel)]="mesElegido" (change)="filtrarEventos($event.target.value)">
            <!-- <option selected> -------------Seleccione el mes------------- </option> -->
            <option [value]="0">Enero</option>
            <option [value]="1">Febrero</option>
            <option [value]="2">Marzo</option>
            <option [value]="3">Abril</option>
            <option [value]="4">Mayo</option>
            <option [value]="5">Junio</option>
            <option [value]="6">Julio</option>
            <option [value]="7">Agosto</option>
            <option [value]="8">Septiembre</option>
            <option [value]="9">Octubre</option>
            <option [value]="10">Noviembre</option>
            <option [value]="11">Diciembre</option>
        </select>


            <ul class="heroes">
                <h2>{{mesMostrar}}</h2>
                <li *ngFor="let evento of eventos" [class.selected]="evento === selectedEvento" (click)="onSelect(evento)">
                    <!-- <li *ngFor="let evento of eventos" [class.selected]="evento === selectedEvento" > -->
                    <!-- <span class="badge">{{evento.fecha}}</span> {{evento.titulo}} -->
                    <span class="badge">{{evento.fecha | date: 'dd':'UTC':'es'}}</span>
                    <span clas="titulo"> {{evento.titulo}} </span>

                    <button type="button" class="btn btn-light" (click)="update(evento['id'])" *ngIf="tokenService.userSignedIn()">
                        <img class="icon" src="../../assets/images/edit.png" alt="edit icon"> Editar
                    </button>
                    <button type="button" class="btn btn-light" (click)="open(content)" *ngIf="tokenService.userSignedIn()">
                        <img class="icon" src="../../assets/images/delete.png" alt="delete icon"> Eliminar
                    </button>
                    <!-- <button type="button" class="btn btn-light" (click)="delete(evento['id'])">
                        <img class="icon" src="../../assets/images/delete.png" alt="delete icon"> Eliminar
                    </button> -->

                    <ng-template #content let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Eliminar</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                        </div>
                        <div class="modal-body">
                            <p><strong>¿Esta seguro que desea eliminar el perfil de la mascota?</strong></p>
                            <p>Toda la informacion asociada con este perfil sera borrada permanentemente.
                                <span>(Esta operacion no puede ser revertida)</span>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
                            <button type="button" class="btn btn-danger" (click)="modal.close(evento.id)">Eliminar</button>
                        </div>
                    </ng-template>


                </li>
            </ul>
        </div>


        <div class="col-md-12 col-lg-6">
            <app-evento-detail [evento]="selectedEvento"></app-evento-detail>
        </div>

    </div>

</div>

