img {
    margin-bottom: 20px;
    max-height: 180px;
    max-width: 100%;
    margin-left: 20px;
    display: block;
}

img:hover {
    filter: gray;
    -webkit-filter: opacity(50%);
}

p.thick {
    font-weight: bold;
}

div button {
    float: right;
    margin-right: 1em;
}