/* HeroesComponent's private CSS styles */
.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .heroes li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .heroes li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }


  .rowDog {
    color: rgba(0, 0, 0);
    font-size: 16pt;
    font-weight: bold;
  }
  .perro {
    background-image: url(https://thumbs.dreamstime.com/z/vector-trail-dog-footprints-illustration-footpath-prints-walking-randomly-99954495.jpg);
    padding: 0.8em 0.7em 0 0.7em;
    
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
  
    padding-left: 20%;
    align-content: center;
    border: 5px solid rgba(70, 63, 3, 0.692);
  }

  .dato {
    color: rgba(0, 0, 0);
    font-size: 16pt;
    font-weight: normal;
  }