.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

#adoptados-title {
    position: relative;
    margin-bottom: 5px;
}

img.logo {
    position: absolute;
    max-width: 80px;
    right: 0;
}

img {
    max-width: 500px;
}

form {
    padding: 30px;
}